<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/admin/adash_base.css') }}">
    {% block head_scripts %}{% endblock %}

    {% block custom_styles %}
    {% endblock%}
    <title>

        {% block title %}
        {% endblock %}

    </title>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flash-messages">
        {% for category, message in messages %}
        <li class="flash {{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block navigation %}
    <div class="control-panel">

        <ul>
            {% set current_path = request.path %}

            <li>
                <a href="#" class="company-name">
                    <img src="{{ url_for('static', filename='/image/company_logo.png') }}" class="company-logo-img"
                        alt="image">

                    <span class="title">ParkEase</span>
                </a>
            </li>
            <li>
                <a href="{{url_for('admin.admin_dashboard')}}"
                    class="{% if current_path == url_for('admin.admin_dashboard') %}active{% endif %}">
                    <span class="icon"><ion-icon name="tv-outline"></ion-icon></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{{url_for('admin.locations')}}"
                    class="{% if current_path == url_for('admin.locations') %}active{% endif %}">
                    <span class="icon"><ion-icon name="location-outline"></ion-icon></span>
                    <span class="title">Locations</span>
                </a>
            </li>
            <li>
                <a href="{{url_for('admin.admin_users')}}"
                    class="{% if current_path == url_for('admin.admin_users') %}active{% endif %}">
                    <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                    <span class="title">Users</span>
                </a>
            </li>

            <li>
                <a href="{{ url_for('admin.activity_log') }}"
                    class="{% if current_path == url_for('admin.activity_log') %}active{% endif %}">
                    <span class="icon"><ion-icon name="document-text-outline"></ion-icon></span>
                    <span class="title">Activity Log</span>
                </a>
            </li>

            <li>
                <a href="{{ url_for('admin.statistics') }}"
                    class="{% if current_path == url_for('admin.statistics') %}active{% endif %}">
                    <span class="icon"><ion-icon name="stats-chart-outline"></ion-icon></span>
                    <span class="title">Stats</span>
                </a>
            </li>

            <li>
                <a href="{{ url_for('logout') }}">
                    <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                    <span class="title">Log out</span>
                </a>
            </li>
        </ul>
    </div>
    {% endblock %}



    <div class="main">

        {% block topbar %}
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
            <div class="search">
                <form method="GET" action="{{ url_for('admin.admin_search') }}">
                    <label for="search-input">
                        <input type="text" id="search-input" name="query" placeholder="Search all..." required>
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                    <button type="submit" style="display: none;">Search</button>
                </form>
            </div>


        </div>
        {% endblock %}


        {% block cards %}
        <div class="cardBox">
            <div class="card">
                <div>
                    <div class="numbers">+ {{ active_users }}</div>
                    <div class="cardName">Active Users</div>
                </div>
                <div class="iconBx">
                    <ion-icon name="people-circle-outline"></ion-icon>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">{{total_parking_lots}}</div>
                    <div class="cardName">Total Parking Lots</div>
                </div>
                <div class="iconBx">
                    <ion-icon name="storefront-outline"></ion-icon>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">{{ active_parkings }}</div>
                    <div class="cardName">Active Parking Spots</div>
                </div>
                <div class="iconBx">
                    <ion-icon name="car-sport-outline"></ion-icon>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">{{ utilization_rate }}%</div>
                    <div class="cardName">Spot Utilization Rate</div>
                </div>
                <div class="iconBx">
                    <ion-icon name="bar-chart-outline"></ion-icon>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">+ {{ vehicles_parked_today }}</div>
                    <div class="cardName">Vehicles Parked Today</div>
                </div>
                <div class="iconBx">
                    <ion-icon name="car-outline"></ion-icon>
                </div>
            </div>
        </div>
        {% endblock %}
        



        {% block content %}
        {% endblock %}
    </div>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script>

        let toggle = document.querySelector('.toggle');
        let controlPanel = document.querySelector('.control-panel');
        let mainSection = document.querySelector('.main');

        toggle.onclick = function () {
            controlPanel.classList.toggle('active');
            mainSection.classList.toggle('active');
        }
    </script>


</body>

</html>