<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParkEase - Smart Parking Solutions</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to 
            <span class="highlight">ParkEase</span></span>
        </h1>
        <p>Park Smart. Park Efficient.</p>
        <p>With our platform, you can park your 4-wheeler more efficiently, smartly, and quickly. Explore the available
            parking spots in your desired location.</p>
        <a href="{{ url_for('user.user_login') }}">Get Started!</a>
    </div>
</body>

</html>